<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SowAndGrow"
        tools:targetApi="31">
        <activity
            android:name=".PlantDetection"
            android:exported="false" />
        <activity
            android:name=".utils.DiscoverDetail"
            android:exported="false" />
        <activity
            android:name=".utils.DiscoverPlants"
            android:exported="false" />

        <receiver
            android:name=".notifications.Notification"
            android:enabled="true" />

        <activity
            android:name=".notifications.NotificationScheduler"
            android:exported="false" />
        <activity
            android:name=".utils.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".utils.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".utils.UploadActivity"
            android:exported="false" />
        <activity
            android:name=".utils.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".utils.MainScreenActivity"
            android:exported="false" />
        <activity
            android:name=".utils.MainActivity"
            android:exported="false" />
        <activity
            android:name=".utils.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".utils.GetStartedActivity"
            android:exported="false" />
    </application>

</manifest>